<h1>Rules</h1>

<p>
  For each category, you'll make your top 3 picks.</br>
  If your first pick wins, you'll receive 3 points for that category.</br>
  If your second pick wins, you'll receive 2 points for that category.</br>
  If your third pick wins, you'll receive 1 point for that category.
</p>
<p>
  If none of your picks win, get out and see more movies</br>
  or buy a subscription to Entertainment Weekly.
</p>

<%= button_to 'Close', new_pick_path, method: :get %></br>